* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 0.90em;
}
h1,
h2 {
    font-family: 'Linux Libertine', Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    border-bottom: 1px solid #999999;
}
h1 {
    font-weight: normal;
    font-size: 1.8em; 
}
a {
    text-decoration: none;
    color: #0645ad;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #0b0080
}
p {
    line-height: 1.6em;
}
blockquote {
    line-height: 1.8em;
    font-size: 1em;
}
nav {
    width: 330px;
    height: 200px;
    text-align: left;
    line-height: 2em;
    font-size: 0.95em;
    font-weight: 450;
    padding: 1px 5px 5px 1px;
    margin: 30px;
    border: 1.2px solid #999999;
}
img.profile {
    padding: 10px;
    border: 1px solid #999999;
    float: right;
    margin: 20px
}
img.photo {
    padding: 10px;
    border: 1px solid #999999;
}
ol {
    counter-reset: section;
    list-style-type: none;
}
li::before {
    counter-increment: section;
    content: counters(section, ".") " ";
}
p.label {
    font-weight: 600;
    text-align: center;
}