* {
    box-sizing: border-box;
}

html {
    margin: 0;
    font-size: 30px;
}

body {
    display: flex;
    margin: 0;
    min-height: 100vh;
    font-family: 'Fira Sans', sans-serif;
    background-image: url('/img/got-bg.jpg');
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    background-color: rgba(0, 0, 0, 0.5);
    flex-grow: 1;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

.title {
    display: flex;
    align-self: flex-end;
    font-weight: 700;
    color: #dddddd;
    padding: 1rem;
    margin: 0;
    width: 40rem;
    font-size: 1.1rem;
}

.tag {
    text-align: right;
    color: #dddddd;
    padding: 1rem;
    margin: 0;
    width: 40rem;
    font-size: 1.1rem;
}