* {
    box-sizing: border-box;
  }
  
  html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
  }
  
  body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 5rem;
  }

  .books {
      width: 100%;
  }

  .book-entry {
      display: flex;
      justify-content: space-between;
      background-color: seashell;
      color: rgb(46, 51, 51);
      margin-bottom: 1rem;
      padding: 1rem 1.5rem;
  }

  h4 {
      margin: 0;
      padding-bottom: 1rem;
  }

  .info {
      padding: 0 1rem;
  }

  